
  <% if (true) { %>
    <p>Already a user? Click <a href = /login>here</a> to login</p>
    <p>Not registered? Click <a href = /register>here</a> to register</p>
   <% } else { %>
       <p><%=`Your are logged in as ${username}`%><p>
        <form method="POST" action="/logout">
            <input type="submit" value="Logout">
        </form>
      <% } %>

